h1 {
    /* hex style */ 
    color: #DEADBE; 
}

h2{
    /* rgbia style */
    color: rgba(100, 0, 100, 45);
}

li{
    /* rgb style */
    color: rgb(100, 0, 100);
}

h4{
    /* word wise */
    color: darkblue;
}
